html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.rdt_TableHeadRow > div {
   background-color: #2f3291 !important;
   color: #fff !important;
   font-weight: bold;
   border-right: 2px solid #fff;
}

.rdt_TableHeadRow > div:last-child{
  border: 0;
}

input[name=filterDataTable]{
  font: inherit;
  height: 1.4375em;
   outline: none;
   border: 1px solid rgba(0, 0, 0, 0.4);
   padding: 10px 14px;
   border-radius: 5px;
   width: 50%;
   font-size: 18px;
   border-radius: 20px;
}


.data-table-extensions-filter{
   
  margin: 20px 50px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.data-table-extensions-filter::after{
   content: "Filter";
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: #2f3291;
   font-size: 18px;
   margin-left: 20px;
   cursor: pointer;
}
